.button {
  padding: 1rem 2rem;
  background-color: #ffba0b;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  display: inline-block;
}

.button:hover {
  background-color: #f39c12;
  transform: scale(1.05);
}

img {
  width: 100%;
}

.header-section {
  background-color: #efefef;
  padding: 4rem 0;
}

.header-section p {
  text-align: justify;
}

.header-section .row {
  align-items: center;
}

.header-section img {
  border-radius: 5px;
  box-shadow: 0 0 10px #fff;
  border: 2px solid #fff;
}

@media screen and (max-width: 600px) {
  .header-section {
    padding: 1rem 0.5rem;
  }
  .header-section .row {
    flex-direction: column-reverse;
  }
  .header-section img {
    margin-bottom: 2rem;
  }
  .header-section .button {
    text-align: center;
    display: block;
  }
}

/* ends header */

.what-contains {
  padding: 4rem 0;
}

.icon {
  border-radius: 50%;
  background-color: #ffba0b;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, auto);
}

.grid .grid-column {
  border-radius: 5px;
  text-align: justify;
}

.grid .grid-column:nth-child(even) {
  background-color: #ffba0b;
  color: #fff;
}

.grid .grid-column:nth-child(even) .icon {
  background-color: #fff;
  color: #ffba0b;
}

@media screen and (max-width: 900px) {
  .grid {
    grid-template-columns: auto;
  }
  .grid .grid-column {
    text-align: center;
  }
}
